<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="www.cityguestsociety.com">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    /
    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/login_bg"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".firstfragmentactivity.OpenDoorActivity">
        </activity>
        <activity android:name=".firstfragmentactivity.PropertyServicesActivity">
        </activity>
        <activity android:name=".firstfragmentactivity.servicesactivity.KFActivity">
        </activity>
        <activity android:name=".firstfragmentactivity.servicesactivity.JFActivity">
        </activity>
        <activity android:name=".firstfragmentactivity.servicesactivity.PropertyJFActivity">
        </activity>
        <activity android:name=".firstfragmentactivity.servicesactivity.BXActivity">
        </activity>
        <activity android:name=".firstfragmentactivity.servicesactivity.BXRecoderActivity">
        </activity>
        <activity android:name=".firstfragmentactivity.servicesactivity.BXInfoActivity">
        </activity>
        <activity android:name=".firstfragmentactivity.servicesactivity.TSActivity">
        </activity>
        <activity android:name=".firstfragmentactivity.servicesactivity.TSRecoderActivity">
        </activity>
        <activity android:name=".firstfragmentactivity.servicesactivity.TSInfoActivity">
        </activity>
        <activity android:name=".firstfragmentactivity.servicesactivity.AnnunciateActivity">
        </activity>
        <activity android:name=".ActivityInfoActivity"/>
        <activity android:name=".firstfragmentactivity.servicesactivity.JFYYActivity">
        </activity>
        <activity android:name=".firstfragmentactivity.VIPActivity">
        </activity>
        <activity android:name=".firstfragmentactivity.VIPfragment.JiFenExchangeActivity">
        </activity>
        <activity android:name=".firstfragmentactivity.GuoJiangActivity">
        </activity>
        <activity android:name=".firstfragmentactivity.ProjectShowActivity">
        </activity>
        <activity android:name=".firstfragmentactivity.TenderShowActivity">
        </activity>
        <activity android:name=".fourthfragmentactivity.MineDataActivity">
        </activity>
        <activity android:name=".fourthfragmentactivity.SettingActivity">
        </activity>
        <activity android:name=".fourthfragmentactivity.MyColoctionActivity">
        </activity>
        <activity android:name=".fourthfragmentactivity.MyQRCodeSctivity">
        </activity>
        <activity android:name=".fourthfragmentactivity.MyNewsActivity">
        </activity>
        <activity android:name=".fourthfragmentactivity.MyPostActivity">
        </activity>
        <activity android:name=".fourthfragmentactivity.MyJoinActivity">
        </activity>
        <activity android:name=".fourthfragmentactivity.AdvicesFeedBackActivity">
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:windowSoftInputMode="stateVisible|adjustPan">
        </activity>
        <activity
            android:name=".login.RegiestActivity"
            android:windowSoftInputMode="stateVisible|adjustPan">
        </activity>
        <activity android:name=".bindhouse.HouseManagerActivity">
        </activity>
        <activity android:name=".bindhouse.SelectHouseInfoActivity">
        </activity>
        <activity android:name=".bindhouse.SelectContryActivity">
        </activity>
        <activity android:name=".ActivityInfo"/>
        <activity android:name=".activity.SpanishActivity">
        </activity>
        <activity android:name=".firstfragmentactivity.GuoJiangWebViewActivity">
        </activity>
        <activity android:name=".firstfragmentactivity.ProjectShowWebViewActivity">
        </activity>
        <activity android:name=".firstfragmentactivity.TenderShowWebViewActivity">
        </activity>
        <activity android:name=".fourthfragmentactivity.ChangePassworldActivity">
        </activity>
        <activity android:name=".bindhouse.SelectCommunityActivity"/>
        <activity android:name=".bindhouse.SlectLouDongActivity">
        </activity>
        <activity android:name=".bindhouse.HouseIDActivity">
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="SSjxSeSMa1C1n5vtkrGGFdIQkIKZRsLF"/>

        <activity android:name=".bindhouse.CheckSuccessActivity">
        </activity>
        <activity android:name=".bindhouse.CheckFailedActivity">
        </activity>
        <activity android:name=".secondFragmentActivity.SellerInfoActivity">
        </activity>
        <activity android:name=".thirdfragemntActivity.SendSharedActivity">
        </activity>

        <service android:name=".shared.UpLoadServices"/>
        / 注册activity
        <activity
            android:name="com.netease.scan.ui.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".bindhouse.ScheduleConstractionActivity">
        </activity>
        <activity android:name=".fourthfragmentactivity.newsfragments.SystemAnnuncationWebView">
        </activity>
        <activity android:name=".fourthfragmentactivity.BlackListsActivity">
        </activity>
        <activity android:name=".fourthfragmentactivity.MyColocationInfoActivity">
        </activity>
    </application>

</manifest>